<!doctype html>
<html>

    <head>
        <title>Alien Communication Study</title>
        <!-- must-haves -->
        <script src="/static/lib/jquery-min.js" type="text/javascript"></script>
        <script src="/static/lib/jquery-ui.min.js" type="text/javascript"></script>
        <script src="static/lib/underscore/underscore-min.js" type="text/javascript"> </script>
        <script src="static/lib/backbone-min.js" type="text/javascript"> </script>
        <script src="static/lib/d3-3.0.0/d3.min.js" type="text/javascript"> </script>

        <script type="text/javascript">
        // Subject info, including condition and counterbalance codes.
            var uniqueId = "{{ uniqueId }}";
            var condition = "{{ condition }}";
            var counterbalance = "{{ counterbalance }}";
            var adServerLoc = "{{ adServerLoc }}"
            var mode = "{{ mode }}";
        </script>

        <script src="static/js/psiturk.js" type="text/javascript"> </script>
        <!-- jsPsych -->
        <script src="/static/js/jsPsych/jspsych.js" type="text/javascript"></script>
        <script src="/static/js/jsPsych/plugins/jspsych-free-sort.js" type="text/javascript"></script>
        <script src="/static/js/jsPsych/plugins/jspsych-text.js" type="text/javascript"></script>
        <script src="/static/js/jsPsych/plugins/jspsych-survey-text.js" type="text/javascript"></script>
        <script src="/static/js/jsPsych/plugins/jspsych-call-function.js" type="text/javascript"></script>
        <script src="/static/js/jsPsych/plugins/jspsych-categorize.js" type="text/javascript"></script>
        <!-- other stuff -->
        <script src="/static/js/utils.js" type="text/javascript"></script>
        <!-- style -->
        <link href="/static/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <style>
            img {
                border: 1px solid #ccc;
            }
        </style>
    </head>

    <body>
        <div id="jspsych_target"></div>
    </body>
    <script type="text/javascript">

        /* Useful fns*/
        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex ;

            // While there remain elements to shuffle...
            while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        }

        /**/
        /* PRELIMINARIES */
        /**/
        /* SETTING UP CONDITION/STIMULI OBJECTS */
        /**/

        /* Declare an array to hold the words e.g. people, objects, and actions from stimuli*/
        var words = ["oldlady", "girl", "boy", "fireman", "ball", 
                       "heart", "car", "tumbling", "pushing", "rolling", "kissing",
                       "lifting", "kicking", "throwing", "rubbing", "elbowing"];
        words = shuffle(words);

        /* Declare an array to hold the events and block texts, tables, objects, HTML, etc.*/
        var Pevents = ["oldlady", "car"]; 
        var Tevents = ["girl-tumbling-none", "boy-rolling-none", "car-rolling-none", 
                       "ball-rolling-none", "fireman-pushing-boy", "fireman-lifting-car", 
                       "fireman-kicking-girl", "fireman-throwing-ball", "girl-elbowing-oldlady", 
                       "girl-kissing-boy", "boy-kicking-ball", "girl-pushing-car", 
                       "girl-rubbing-heart", "girl-throwing-oldlady", "oldlady-elbowing-heart", 
                       "boy-lifting-girl", "oldlady-kissing-ball", "oldlady-rubbing-fireman"];
        var istransitive = [0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1];

        var instrucHTML = "<h3><center>Meet our friend Upwilaah!</center></h3>" +
                "<div class='center-content'><img height=150 width=150 src='/static/images/upwilaah.jpeg' /></div>" +
                "<p>Upwilaah is a very friendly alien and likes stories very much. Upwilaah's favorite story-spot " +
                "is inside his box because it helps him avoid distractions. Unfortunately for us, Upwilaah does not " + 
                "have any ears and can only communicate by reading and writing in his alien language which uses symbols like these:</p>" +
                "<div class='center-content'><img height=100 width=100 src='/static/images/GGG.png' /><img height=100 width=100 src='/static/images/GGG.png' /><img height=100 width=100 src='/static/images/GGG.png' /><img height=100 width=100 src='/static/images/GGG.png' /></div>" +
                "<p>Your task is to communicate with Upwilaah in his language, and tell him what happened " + 
                "in a series of very short stories.</p>" + 
                "<p><b>Press the spacebar to continue.</b></p>";

        var prepHTML = "<h3></br></br>This Study has 2 Parts</h3>" +
                "<p></br>In Part 1, you will memorize a set of symbols so that you can communicate with Upwilaah. This part also includes a quiz to see how familiar you are with the symbols. </br><b>Part 1 should take about 10 minutes.</b></p>" + 
                "<p></br>In Part 2, you will be giving the symbols to Upwilaah so that he can guess what is happening. </br><b>Part 2 should take about 15 minutes.</b></p>" +
                "<p></br>Press the letter <b>T</b> to continue to the next page.";

        var prepHTML2 = "<h3><center>PART 2</center></h3>" +
                "<p></br>In this part, you will will be giving symbols to Upwilaah so that he can guess what is happening." + 
                "<p></br>First you will practice. </br>During practice you will see a picture. Give Upwilaah the symbol that best describes the picture." +
                "<p></br>Press the letter <b>P</b> to continue to the practice pages.";

        var prepHTML3 = "<h3><center>PART 2</center></h3>" +
                "<p></br>In this part, you will be watching short movies." + 
                "<p></br>First watch the movie. </br></br>After the movie is over, give Upwilaah the symbols that best <b>describe what happened in the movie</b>. You will need to <u>drag more than one symbol</u> per movie." +
                "<p></br>Press the letter <b>T</b> to continue to the movies.";


        /*This is a table for the learning block*/
        var tableHTML = '<table align="center" border="0" cellpadding="10" cellspacing="0">' +
                        '<tbody><tr align="center">ROW</tr><tr align="center">ROW</tr><tr align="center">ROW</tr><tr align="center">ROW</tr></tbody></table>';
        var cell = '<td><img height=100 width=100 src="/static/images/XXYX.png" /><p>MEANING</p></td><td>  </td>';
        for (var j = 0; j < 4; j++) {
            tableHTML = tableHTML.replace('ROW', '<td></td>CELLCELLCELLCELL');
            for (var i = 0; i < 4; i++) {
                tableHTML = tableHTML.replace('CELL', cell);
            };    
        };

        /* Declare an array to hold the glyphs */
        var glyphs = [];
        for (var i = 1; i <= 16; i++) {
            glyphs.push("g" + i);
        };
 

        /*DEFINE TESTING CONDITIONS AND TESTING IFORMATION*/
        var TestInfo = [];
        TestInfo.glyphass = [];
        for(var i=0;i<glyphs.length;i++) {
            TestInfo.glyphass[glyphs[i]]=words[i];
        }
        
        var tglyphs = [];
        for(var i=0;i<Tevents.length;i++) {
            tglyphs.push([]);
            shuffle(glyphs);
            for(var j=0;j<glyphs.length;j++) {
                tglyphs[i].push(glyphs[j]);
            }
        }
        
        TestInfo.ptrialInfo = [];
        TestInfo.trialInfo = [];
        for (i=0;i<Tevents.length;i++){
            if (i<2) {
                var ptrial = [];
                ptrial.isTestTrial=0;
                ptrial.stimName=Pevents[i];
                ptrial.glyphorder=tglyphs[i+3];
                TestInfo.ptrialInfo.push(ptrial);
            };
            var trial = [];
            trial.isTestTrial=1;
            trial.stimName=Tevents[i];
            trial.transitive=istransitive[i];
            trial.glyphorder=tglyphs[i];
            TestInfo.trialInfo.push(trial);
        }

        ptrial_words = [];
        trial_words = [];
        for (var i=0;i<TestInfo.trialInfo.length;i++) {
            if (i<2) {
                ptrial_words.push(TestInfo.ptrialInfo[i].stimName.split("-"));
            }
            trial_words.push(TestInfo.trialInfo[i].stimName.split("-"));
        }

        PoS = ['Sub', 'Vrb', 'Obj']
        for (var i=0;i<trial_words.length;i++) {
            if(i<2) {
                TestInfo.ptrialInfo[i].Rel_glyph = 'g' + String(words.indexOf(ptrial_words[i][0]) + 1);
            }
            TestInfo.trialInfo[i].Rel_glyph = [];
            for (var j=0;j<PoS.length;j++) {
                TestInfo.trialInfo[i].Rel_glyph[PoS[j]] = 'g' + String(words.indexOf(trial_words[i][j]) + 1);
            }
            if (TestInfo.trialInfo[i].transitive == 0) {
                TestInfo.trialInfo[i].Rel_glyph.Obj = 'none';
            }
        }

        for (var i=0;i<TestInfo.trialInfo.length;i++) {
            for (var j = 0; j < 16; j++) {
                text = '/static/images/XXYX.png';
                text = text.replace('XXYX', TestInfo.trialInfo[i].glyphorder[j]);
                TestInfo.trialInfo[i].glyphorder[j] = text;
            }    
        }

        var glyphtrials = [];
        for (var i = 0; i < TestInfo.trialInfo.length; i++) {
            glyphtrials.push(TestInfo.trialInfo[i].glyphorder);
        };

        var prac_trials = [];
        for (var i = 0; i < TestInfo.ptrialInfo.length; i++) {
            prac_trials.push(TestInfo.ptrialInfo[i].glyphorder);
        };

        /*Match a word to the assigned glyph for the learning table*/
        shuffle(glyphs);
        for (var j = 0; j < 16; j++) {
            tableHTML = tableHTML.replace('XXYX', glyphs[j]);
            tableHTML = tableHTML.replace('MEANING', TestInfo.glyphass[glyphs[j]]);
        }

        
        /*DEFINE OBJECTS FOR THE LEARNING AND SORTING BLOCKS*/
        shuffle(glyphs);
        var categorized = [];
        for(var j=0;j<glyphs.length;j++) {
            text = '/static/images/XXYX.png';
            text = text.replace('XXYX', glyphs[j]);
            categorized.push(text);
            }

        shuffle(Tevents);
        var eventclippy = [];
        for(var j=0;j<Tevents.length;j++) {
            text = '/static/movies/XXYX.mp4';
            text = text.replace('XXYX', Tevents[j]);
            eventclippy.push(text);
            }
        
        /*Add more information to TestInfo*/
        TestInfo.trialOrder = Tevents;
        for (var i=0;i<TestInfo.trialInfo.length;i++) {
            TestInfo.trialInfo[i].TrialNum = (Tevents.indexOf(TestInfo.trialInfo[i].stimName))+1;
        }

        var text_answers = [];
        for (var i = 0; i < glyphs.length; i++) {
            text_answers.push(TestInfo.glyphass[glyphs[i]]);
        };

        var choices = [];
        for (var i = 0; i < glyphs.length; i++) {
            choices.push([glyphs[i]]);
        };

        for (var i = 0; i < choices.length; i++) {
            shuffle(glyphs);
            var j = 0;
            while (choices[i].length < 3) {
                if (glyphs[j]==choices[i][0]) {
                    j++;
                }
                else {
                    choices[i].push(glyphs[j]);
                    j++;
                }
            }
            for (var k = 0; k < choices[i].length; k++) {
                choices[i][k] = TestInfo.glyphass[choices[i][k]];
            };
        shuffle(choices[i]);
        };

        var prompt = [];
        for (var i = 0; i < choices.length; i++) {
            prompt_text = '<br>Choices:  <br>XXX - press "1"   <br>XXX - Press "2"   <br>XXX - Press"3"';
            for (var j = 0; j < choices[i].length; j++) {
                prompt_text = prompt_text.replace('XXX', choices[i][j]);
            }
            prompt.push(prompt_text);
        }

        var user_choices = [49, 50, 51];

        var keyans = [];
        for (var i = 0; i < choices.length; i++) {
            for (var j=0; j<choices[i].length; j++) {
                if (text_answers[i] == choices[i][j]) {
                    keyans.push(user_choices[j]);
                }
            }
        };


        /* REDO TEST INFO DICTIONARY */
        var glyphs = [];
        for (var i = 1; i <= 16; i++) {
            glyphs.push("g" + i);
        };

        NTestInfo = {};
        NTestInfo.glyphass = {};

        for (var i=0;i<glyphs.length;i++) {
            NTestInfo.glyphass[glyphs[i]] = TestInfo.glyphass[glyphs[i]];
        }

        NTestInfo.ptrialInfo = {};
        NTestInfo.trialInfo = {};
        for (i=0;i<TestInfo.trialInfo.length;i++){
            if (i<2) {
                var ptrial = {};
                ptrial.isTestTrial=0;
                ptrial.stimName=Pevents[i];
                ptrial.glyphorder=tglyphs[i+3];
                NTestInfo.ptrialInfo[i] = ptrial;
            };
            var trial = {};
            trial.isTestTrial=1;
            trial.stimName=TestInfo.trialInfo[i].stimName;
            trial.transitive=istransitive[i];
            trial.glyphorder=TestInfo.trialInfo[i].glyphorder;
            NTestInfo.trialInfo[i] = trial;
        }

        NTestInfo.trialOrder = TestInfo.trialOrder;

        for (var i=0;i<trial_words.length;i++) {
            if(i<2) {
                NTestInfo.ptrialInfo[i].Rel_glyph = 'g' + String(words.indexOf(ptrial_words[i][0]) + 1);
            }
            NTestInfo.trialInfo[i].Rel_glyph = {};
            for (var j=0;j<PoS.length;j++) {
                NTestInfo.trialInfo[i].Rel_glyph[PoS[j]] = 'g' + String(words.indexOf(trial_words[i][j]) + 1);
            }
            if (NTestInfo.trialInfo[i].transitive === 0) {
                NTestInfo.trialInfo[i].Rel_glyph.Obj = 'none';
            }
        }

        NTestInfo.trialOrder = Tevents;
        for (var i=0;i<TestInfo.trialInfo.length;i++) {
            NTestInfo.trialInfo[i].TrialNum = (Tevents.indexOf(TestInfo.trialInfo[i].stimName))+1;
        }



        /**/
        /* DONE SETTING CONDTIONS/STIM */
        /**/

        /* SET UP EXPERIMENT BLOCKS AND CHUNKS*/

        /* Load Psiturk */
        var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);

        /* Text blocks */
        var welcome_block = {
            type: "text",
            text: "<h3><center></br></br>Welcome to the Alien Communication Experiment!</center></h3>" +
                        "<p></br></br><b><center>Press the spacebar to continue.</b></center></p>",
            on_finish: function () {
                stuff = {};
                stuff.isTestTrial = 0;
                stuff.glyph_assignment = NTestInfo.glyphass;

                jsPsych.data.write(stuff);
            }
        };

        var instructions_block = {
            type: "text",
            text: function() {
                shuffle(glyphs);
                for (var j = 0; j < 4; j++) {
                    instrucHTML = instrucHTML.replace('GGG', glyphs[j]);
                }    
                return instrucHTML;
                },
            timing_post_trial: 500,
            data:{
                isTestTrial:0
            }
        };

        var prep_screen = {
            type: "text",
            text: prepHTML,
            cont_key : [84]
        }
        
        var learning_block = {
            type: "text",
            text: function () {
                if (num_of_retakes == 0) {
                        what_it_says = "<p>Learn these symbols so that you can communicate with Upwilaah! <b>Take as long as you need</b>, and really " +
                       "try to memorize the symbols. There will be a quiz after this page. You will have to pass " + 
                       "the quiz in order to continue to the rest of the experiment. </br><b>Press the letter T to take the quiz.</b></p>" +
                       "<div class='center-content'>" + tableHTML + "</div>";
                   } else {
                        what_it_says = "<p>You did not get enough correct answers on the quiz to continue. " + 
                            "Take some time to look at the symbols once more. You will take the quiz again after " +
                            "this page. </br><b>Press the letter T to take the quiz.</b></p>" +
                            "<div class='center-content'>" + tableHTML + "</div>";
                   }
                   return "<h3>PART 1</h3>" + what_it_says;
                },
            timing_post_trial: 500,
            cont_key: [84],
            data:{
            isTestTrial:0
            }
        };

        var part2_prep = {
            type: 'text',
            text: prepHTML2,
            cont_key: [80]
        }   

        var part2_prep2 = {
            type: 'text',
            text: prepHTML3,
            cont_key: [84]
        }

        var debrief_block = {
            type: "text",
            text: function() {
                return "<p>Thank you for participating in the experiment!</p>" +
                "<p> To submit this HIT, press any key on your keyboard to return to the Mechanical Turk interface, and then press the 'submit' button. </p>";
            },
            data:{
                isTestTrial:0
            }
        };     

        /*All other blocks and chunks defined here*/
        var categorization_block = {
            type: 'categorize',
            stimuli: categorized,
            key_answer: keyans,
            choices: user_choices,
            text_answer: text_answers,
            timing_stim: -1,
            is_html: false,
            incorrect_text: "Incorrect. The correct answer is %ANS%.",
            prompt: prompt
        };     

        
        num_of_retakes = 0;
        var quiz_chunk = {
            chunk_type: 'while',
            timeline: [learning_block, categorization_block],
            continue_function: function(data){
                // check to see if the average RT was under 1s
                // var current_chunk_id = jsPsych.currentChunkID();
                // var dataaa = jsPsych.data.getTrialsFromChunk(current_chunk_id);
                var sum_score = 0;
                for(var i=(data.length - 16); i < data.length; i++){
                    sum_score += data[i].correct;
                }
                var avg_score = sum_score / 16;
                if(avg_score > 0.87){
                    // end the loop
                    return false;
                } else {
                    num_of_retakes += 1;
                    return true;
                }
            }
        }

        var pract_block1 = {
            type: 'free-sort',
            stimuli: [prac_trials[0]],
            prompt: "<p>What is this?</p>",
            eventpics: ['/static/images/car.png'],
            eventpicside: 225,
            moreinstr: 'static/images/more_instructions_pract.png',
            alien: '/static/images/upwilaah.jpeg',
            on_finish: function () {
                info = {};
                info.glyph = NTestInfo.ptrialInfo[1].Rel_glyph;
                jsPsych.data.write(info);
            }
        };

        var pract_block2 = {
            type: 'free-sort',
            stimuli: [prac_trials[1]],
            prompt: "<p>Who is this?</p>",
            eventpics: ['/static/images/oldlady.png'],
            eventpicside: 225,
            moreinstr: 'static/images/more_instructions_pract.png',
            alien: '/static/images/upwilaah.jpeg',
            on_finish: function () {
                info = {};
                info.glyph = NTestInfo.ptrialInfo[0].Rel_glyph;
                jsPsych.data.write(info);
            }
        };

        var pract_chunk = {
            chunk_type: 'linear',
            timeline: shuffle([pract_block2, pract_block1])
        };

        var sort_block = {
            type: 'free-sort',
            stimuli: glyphtrials,
            prompt: "<p>Watch this movie!</p>",
            eventclips: eventclippy,
            moreinstr: 'static/images/more_instructions_movie.png',
            alien: '/static/images/upwilaah.jpeg',
            on_finish: function() { 
                info = {};
                info.isTestTrial = 1;
                clip_name = jsPsych.currentTrial().eventclips;
                clip_name = clip_name.split("/")[3];
                info.moviefile = clip_name;
                stim = info.moviefile.split(".")[0];
                trial_num = TestInfo.trialOrder.indexOf(stim);
                for (var i=0;i<TestInfo.trialInfo.length;i++) {
                        if (NTestInfo.trialInfo[i].stimName == stim) {
                            for (var j=0;j<PoS.length;j++) {
                               info[PoS[j]] = NTestInfo.trialInfo[i].Rel_glyph[PoS[j]]; 
                            }
                            
                        }
                }
                jsPsych.data.write(info);
            }};


        var sort_chunk = {
            chunk_type: 'linear',
            timeline: [part2_prep2, sort_block]            
        };

        var feedback_block = {
            type: 'survey-text',
            questions: [["<p><b>NOTE: Please answer the following questions honestly.</b> Your <u>payment will NOT be affected</u> by how you answer these questions.</p><p></br>In this study, we are interested in how people describe different types of events, given a new way of describing them. This will help us to understand how we use language.</p> <p>Do you have any feedback about the task, or comments on how you thought about the answers you gave? Enter your comments below.</p>", "<p>Did you copy down the symbols on a sheet of paper?</p>", "Did you take a screen shot or take a picture of the screen to help you during the task?</p>", "<p>Did you memorize the glyphs?</p>"]],
            data:{
                isTestTrial:0
            }
        };

        var ending_chunk = {
            chunk_type: 'linear',
            timeline: [feedback_block, debrief_block]
        }


        /*Define the experiment's timeline*/
        var experiment_blocks = [];

        experiment_blocks.push(welcome_block);

        experiment_blocks.push(instructions_block);

        //experiment_blocks.push(prep_screen);

        //experiment_blocks.push(quiz_chunk);

        experiment_blocks.push(part2_prep);

        experiment_blocks.push(pract_chunk);

        experiment_blocks.push(sort_chunk);

        experiment_blocks.push(ending_chunk);


        jsPsych.init({
            display_element: $('#jspsych_target'),
            experiment_structure: experiment_blocks,
            on_finish: function() {
                psiturk.saveData({
                    success: function() { psiturk.completeHIT(); }
                });
            },
            on_data_update: function(data) {
                psiturk.recordTrialData(data);
                psiturk.saveData();
            }
        });
    </script>

</html>